<div class="layout-outside">
  <app-sidebar></app-sidebar>
  <div class="layout-inside">
    <div class="flex-space-between">
      <div class="title">Live</div>
      <div class="flex">
        <div class="icon-filter"><i class="bi bi-funnel-fill"></i></div>
        <div>Filter</div>
      </div>
    </div>
    <div class="flex-space-between">
      <div class="item">
        <div class="image">
          <img src="https://s3-alpha-sig.figma.com/img/e1bb/6e26/947d90ab76e6be0e15be1f365d00ceb2?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Rqn87pSBQvz51yPGGTskSuKTHgRx~RxdjpBIyeH~QzPu1C4bJUSbt1LHc76vQ1aqPpFY4W8FMfQZEcIgkSO~ANwackz1ye9u3RDJxnyoMETx2WX-JUoXBZ3cx6ID5-MFokDD3AxijyyDFKOefBTMhu~ys8qUk-6aY3FxywbbgX1EZ6ty8tCR85nT5cUeaTb4c6nEnPgdAhsv9pksKhsVIs1y5Sz9MHSwU8RJbMxHqlo2x5fSlT72mTMqF-K~rO-dD3B21CQgxcDBVBs8zPqxvHRaLLRJYsrYdoN2Lg5UsFcY~~AvjFDzQlFbVlosxGvVdvdhAZq3yJeHH-qpn4phwQ__" alt="img" />
        </div>
        <div class="text-center">
          <div class="name">Farm house 1</div>
          <div class="time">
            Bidding ends - 35m : 47s
            <span class="icon-dot"></span>
          </div>
          <div class="rs">Rs: 10 Crore</div>
          <div class="auction-id">Auction ID: 3450987</div>
          <div class="location">Location: Delhi, India</div>
        </div>
      </div>
      <div class="history">
        <div class="price">price - 10 Crore</div>
        <div class="flex-space-between verical-center">
          <div class="my-bid">My Current Bid: 15 Crore</div>
          <div class="percent">
            <span><i class="bi bi-caret-up-fill"></i></span>
            50%
          </div>
        </div>
        <div class="highest-bid">
            <div class="highest-bid-title">Highest Bids</div>
            <div class="list-history-bid">
              <app-history-bid></app-history-bid>
              <app-history-bid></app-history-bid>
              <app-history-bid></app-history-bid>
              <app-history-bid></app-history-bid>
            </div>
        </div>
        <div class="button-bid-layout">
            <button>Place your bid</button>
        </div>
      </div>
    </div>
  </div>
</div>
