.layout-outside {
  display: flex;
}

.layout-inside {
  padding: 3rem;
  width: 100%;
}

.title {
  font-size: large;
}

.flex {
  display: flex;
}

.icon-filter {
  margin-right: 0.3rem;
  color: rgba(140, 6, 6, 0.81);
}

.icon-dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(30, 251, 92, 0.79);
  border-radius: 50%;
  display: inline-block;
  line-height: 0.5rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.verical-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.name {
  margin-bottom: 1rem;
}

.time {
  margin-bottom: 0.5rem;
}

.rs {
  font-weight: 600;
  margin-bottom: 2rem;
}

.auction-id {
  margin-bottom: 0.5rem;
}

.image {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
}

.history {
  width: 70%;
  background-color: #f4f4f4;
  padding: 2rem 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.history .price {
  text-transform: uppercase;
  color: #890000;
}

.history .my-bid {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.history .percent {
  color: rgba(11, 227, 92, 0.79);
}

.highest-bid {
  background-color: white;
  height: 45vh;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.highest-bid-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.button-bid-layout {
  width: 100%;
  text-align: center;
}

.button-bid-layout button {
  background-color: #ff4949;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
}

.highest-bid .list-history-bid {
  height: 40vh;
  overflow-y: auto;
  padding-right: 1rem;
}

/* width */
.highest-bid .list-history-bid::-webkit-scrollbar {
  width: .7rem;
}

/* Track */
.highest-bid .list-history-bid::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.highest-bid .list-history-bid::-webkit-scrollbar-thumb {
  background: #C1C7DE;
  border-radius: 10px;
}

/* Handle on hover */
.highest-bid .list-history-bid::-webkit-scrollbar-thumb:hover {
  background: #a9aec4;
}
