<p-dialog
  header="Welcome To Our Site"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="handleChangeVisiable($event)"
  [style]="{ width: '25rem' }"
>
  <div *ngIf="regForm">
    <form name="form" #tf="ngForm" novalidate>
      <div class="form-group">
        <input
          type="text"
          class="form-control m-auto mb-3"
          name="userName"
          placeholder="NAME"
          [(ngModel)]="signInFormValue.userName"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control m-auto mb-4"
          placeholder="EMAIL"
          name="userEmail"
          [(ngModel)]="signInFormValue.userEmail"
          #userEmail="ngModel"
          required
          email
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control m-auto mb-2"
          name="userPassword"
          placeholder="PASSWORD"
          [(ngModel)]="signInFormValue.userPassword"
          minlength="6"
          togglePassword
        />
      </div>
      <div class="forget mb-3">Not less than 8 characters</div>
      <div class="form-group text-center mb-3">
        <button class="btn">SignUp</button>
      </div>
      <div class="text-center" style="font-weight: 600">Or</div>
      <div class="d-flex justify-content-between px-5 mb-2">
        <img
          src="assets/img/Google.png"
          alt="google"
          class="img-fluid"
          style="width: 40px"
        />
        <img
          src="assets/img/Facebook.png"
          alt="google"
          class="img-fluid"
          style="width: 40px"
        />
      </div>
      <div class="text-center">
        Already have an account?
        <span
          class="text-primary"
          style="cursor: pointer"
          (click)="handleChangeRegForm(false)"
        >
          Login
        </span>
      </div>
    </form>
  </div>
  <div *ngIf="!regForm">
    <form name="form" #tf="ngForm" novalidate>
      <div class="form-group">
        <input
          type="email"
          class="form-control m-auto mb-4"
          placeholder="EMAIL"
          name="userEmail"
          [(ngModel)]="signInFormValue.userEmail"
          #userEmail="ngModel"
          required
          email
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control m-auto mb-2"
          name="userPassword"
          placeholder="PASSWORD"
          [(ngModel)]="signInFormValue.userPassword"
          minlength="6"
          togglePassword
        />
      </div>
      <div class="forget mb-3">Forget Password?</div>
      <div class="form-group text-center mb-3">
        <button class="btn">Login</button>
      </div>
      <div class="text-center" style="font-weight: 600">Or</div>
      <div class="d-flex justify-content-between px-5 mb-2">
        <img
          src="assets/img/Google.png"
          alt="google"
          class="img-fluid"
          style="width: 40px"
        />
        <img
          src="assets/img/Facebook.png"
          alt="google"
          class="img-fluid"
          style="width: 40px"
        />
      </div>
      <div class="text-center">
        New to Auction Table?
        <span
          class="text-primary"
          style="cursor: pointer"
          (click)="handleChangeRegForm(true)"
        >
          Sign Up
        </span>
      </div>
    </form>
  </div>
</p-dialog>
