.form-group input {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25) inset;
}

.form-group input::placeholder {
  color: rgba(114, 114, 114, 1);
}

.form-group button {
    background: rgba(242, 4, 4, 0.81);
    color: white;
    padding: .5rem 2rem;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    
}

form .forget {
    color: rgba(242, 4, 4, 1);
}

form {
    width: 80%;
    margin: auto;
}
