<div class="layout-outside">
  <div class="title">Catergory</div>
  <div class="list-item">
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
    <app-item> </app-item>
  </div>
</div>
